<template>
  <div class="container">
    <div>
      <h1>Empleados</h1>
      <b-button variant="outline-success" @click="showModal = true">Nuevo Empleado</b-button>
    </div>

    <div class="employeesTable">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Numero de Identidad</th>
            <th scope="col">Puesto</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr 
            v-for="(employee, index) in employees"
            :key="index"
          >
            <th scope="row">{{index + 1}}</th>
            <td>{{employee.name}}</td>
            <td>{{employee.id_number}}</td>
            <td>{{employee.job}}</td>
            <td>
              <button @click="showInformation(employee)" class="icon-button">
                <i class="material-icons">remove_red_eye</i>
              </button>

              <button @click="showModalEdit = true" class="icon-button">
                <i class="material-icons">edit</i>
              </button>

              <button @click="deleteEmployee(employee.id)" class="icon-button">
                <i class="material-icons">delete</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <b-modal
      v-model="showModal"
      title="Nuevo Empleado"
      size="lg"
    >
      <b-container fluid>
        <div style="width: 40%; float: left;">
          <p>Datos Generales</p>
          <hr>

          <b-row class="my-1">
            <b-col sm="8">
              <label for="name">Nombre Completo:</label>
            </b-col>
            <b-col sm="12">
              <b-form-input id="name" v-model="name" type="text" placeholder="Ingresar nombre"></b-form-input>
            </b-col>
          </b-row>

          <b-row class="my-1">
            <b-col sm="8">
              <label for="birth_date">Fecha de Nacimiento:</label>
            </b-col>
            <b-col sm="12">
              <b-form-input id="birth_date" v-model="birth_date" type="date" placeholder="Ingresar fecha de nacimiento"></b-form-input>
            </b-col>
          </b-row>

          <b-row class="my-1">
            <b-col sm="8">
              <label for="bank_account">Cuenta Bancaria:</label>
            </b-col>
            <b-col sm="12">
              <b-form-input id="bank_account" v-model="bank_account" type="text" placeholder="Ingresar cuenta bancaria"></b-form-input>
            </b-col>
          </b-row>

          <b-row class="my-1">
            <b-col sm="8">
              <label for="bank">Banco:</label>
            </b-col>
            <b-col sm="12">
              <b-form-input id="bank" v-model="bank" type="text" placeholder="Ingresar banco"></b-form-input>
            </b-col>
          </b-row>

          <b-row class="my-1">
            <b-col sm="8">
              <label for="id_number">Numero de Identidad:</label>
            </b-col>
            <b-col sm="12">
              <b-form-input id="id_number" v-model="id_number" type="text" placeholder="Ingresar numero de identidad"></b-form-input>
            </b-col>
          </b-row>

          <b-row class="my-1">
            <b-col sm="8">
              <label for="phone_number">Numero de Celular:</label>
            </b-col>
            <b-col sm="12">
              <b-form-input id="phone_number" v-model="phone_number" type="text" placeholder="Ingresar numero de celular"></b-form-input>
            </b-col>
          </b-row>

          <b-row class="my-1">
            <b-col sm="8">
              <label for="rap_number">Numero de RAP:</label>
            </b-col>
            <b-col sm="12">
              <b-form-input id="rap_number" v-model="rap_number" type="number" placeholder="Ingresar numero de RAP"></b-form-input>
            </b-col>
          </b-row>

          <b-row class="my-1">
            <b-col sm="8">
              <label for="rtn_number">Numero de RTN:</label>
            </b-col>
            <b-col sm="12">
              <b-form-input id="rtn_number" v-model="rtn_number" type="text" placeholder="Ingresar numero de RTN"></b-form-input>
            </b-col>
          </b-row>
        </div>

        <div style="width: 50%; float: right;">
          <p>Datos Laborales</p>
          <hr>

          <b-row class="my-1">
            <b-col sm="8">
              <label for="contract_type">Tipo de contrato:</label>
            </b-col>
            <b-col sm="12">
              <b-form-input id="contract_type" v-model="contract_type" type="text" placeholder="Ingresar tipo de contrato"></b-form-input>
            </b-col>
          </b-row>

          <b-row class="my-1">
            <b-col sm="8">
              <label for="job">Puesto:</label>
            </b-col>
            <b-col sm="12">
              <b-form-input id="job" v-model="job" type="text" placeholder="Ingresar puesto"></b-form-input>
            </b-col>
          </b-row>

          <b-row class="my-1">
            <b-col sm="8">
              <label for="turn">Turno:</label>
            </b-col>
            <b-col sm="12">
              <b-form-input id="turn" v-model="turn" type="text" placeholder="Ingresar turno"></b-form-input>
            </b-col>
          </b-row>

          <b-row class="my-1">
            <b-col sm="8">
              <label for="payment_cycle">Ciclo de Pago:</label>
            </b-col>
            <b-col sm="12">
              <b-form-select v-model="payment_cycle" :options="payment_cycles"></b-form-select>
            </b-col>
          </b-row>
        </div>
      </b-container>

      <template v-slot:modal-footer>
        <p class="feedback w-100">{{feedback}}</p>
        <div class="w-100">
          <b-button 
            variant="outline-success"  
            size="sm"
            class="float-right" 
            @click="newEmployee"
          >
            Guardar Empleado
          </b-button>
        </div>
      </template>
    </b-modal>

    <b-modal
      v-model="showModalInfo"
      title="Informacion del Empleado"
      size="lg"
    >
      <b-container fluid>
        <div style="width: 50%; float: left;">
          <p style="font-weight: bold;">Datos Generales</p>
          <hr>

          <b-row class="my-1">
            <b-col sm="8">
              <label style="font-weight: bold;">Nombre Completo:</label>
            </b-col>
            <b-col sm="12">
              <p>{{employee.name}}</p>
            </b-col>
          </b-row>

          <b-row class="my-1">
            <b-col sm="8">
              <label style="font-weight: bold;">Fecha de Nacimiento:</label>
            </b-col>
            <b-col sm="12">
              <p>{{employee.birth_date}}</p>
            </b-col>
          </b-row>

          <b-row class="my-1">
            <b-col sm="8">
              <label style="font-weight: bold;">Cuenta Bancaria:</label>
            </b-col>
            <b-col sm="12">
              <p>{{employee.bank_account}}</p>
            </b-col>
          </b-row>

          <b-row class="my-1">
            <b-col sm="8">
              <label style="font-weight: bold;">Banco:</label>
            </b-col>
            <b-col sm="12">
              <p>{{employee.bank}}</p>
            </b-col>
          </b-row>

          <b-row class="my-1">
            <b-col sm="8">
              <label style="font-weight: bold;">Numero de Identidad:</label>
            </b-col>
            <b-col sm="12">
              <p>{{employee.id_number}}</p>
            </b-col>
          </b-row>

          <b-row class="my-1">
            <b-col sm="8">
              <label style="font-weight: bold;">Numero de Celular:</label>
            </b-col>
            <b-col sm="12">
              <p>{{employee.phone_number}}</p>
            </b-col>
          </b-row>

          <b-row class="my-1">
            <b-col sm="8">
              <label style="font-weight: bold;">Numero de RAP:</label>
            </b-col>
            <b-col sm="12">
              <p>{{employee.rap_number}}</p>
            </b-col>
          </b-row>

          <b-row class="my-1">
            <b-col sm="8">
              <label style="font-weight: bold;">Numero de RTN:</label>
            </b-col>
            <b-col sm="12">
              <p>{{employee.rtn_number}}</p>
            </b-col>
          </b-row>
        </div>

        <div style="width: 50%; float: right;">
          <p style="font-weight: bold;">Datos Laborales</p>
          <hr>

          <b-row class="my-1">
            <b-col sm="8">
              <label style="font-weight: bold;">Tipo de contrato:</label>
            </b-col>
            <b-col sm="12">
              <p>{{employee.contract_type}}</p>
            </b-col>
          </b-row>

          <b-row class="my-1">
            <b-col sm="8">
              <label style="font-weight: bold;">Puesto:</label>
            </b-col>
            <b-col sm="12">
              <p>{{employee.job}}</p>
            </b-col>
          </b-row>

          <b-row class="my-1">
            <b-col sm="8">
              <label style="font-weight: bold;">Turno:</label>
            </b-col>
            <b-col sm="12">
              <p>{{employee.turn}}</p>
            </b-col>
          </b-row>

          <b-row class="my-1">
            <b-col sm="8">
              <label style="font-weight: bold;">Ciclo de Pago:</label>
            </b-col>
            <b-col sm="12">
              <p v-if="employee.payment_cycle">{{employee.payment_cycle.name}}</p>
            </b-col>
          </b-row>
        </div>
      </b-container>
    </b-modal>
  </div>
</template>

<script src="./js/employees.js"></script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped src="./css/employees.css"></style>
