h1, h2 {
    font-weight: normal;
    text-align: center !important;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}

.employeesTable {
    margin-top: 5% !important;
}

.icon-button {
    border: none;
}

.feedback {
    font-size: 15px;
    color: red;
}